@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
       <h1 class="titulo">TU VEHICULO EN LAS MEJORES MANOS</h1>
     
</div>
    <div class="text-center"><p>Nuestro equipo de trabajo lleva varios años</p>
      <p>en la industria automotriz brindando</p>
      <p>la mejor experiencia a todos nuestros usuarios</p>
      <p></p>
      <p></p> 
      <p></p> </div>
      
