<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Taller.App.Front</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Taller.App.Frontend._Layout.cshtml" asp-append-version="true" />
</head>
<body>
    <header id="fondo" class="header">
      <nav class="nav">
        <a href="#" class="logo nav-link">MCTools</a>
      
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="inicio.html" class="nav-menu-link nav-link">INICIO</a>
          </li>
          <li class="nav-menu-item">
            <a href="registro_auto.html" class="nav-menu-link nav-link">SERVICIOS</a>
          </li>
          <li class="nav-menu-item">
            <a href="Login/Login-usuario" target="_blank" class="nav-menu-link nav-link">USUARIO</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
      
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>